<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.CodeAnalysis.CSharp.CodeCoverage.CoverageCollector, Microsoft.CodeAnalysis.CSharp.CodeCoverage, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Greg.Xrm.Command.Core]*</Include>
          <Exclude>[Greg.Xrm.Command.Core.TestSuite]*</Exclude>
          <MergeWith>./coverage.json</MergeWith>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>normal</Verbosity>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
